{{ define "main" }}
    <div class="page-content">
        <article class="block">
            <header class="title">
                {{ $lowerTitle := lower .Title | urlize }}
                <h1>{{ T (printf "%s%s" "translations.tags." $lowerTitle) }}</h1>
            </header>
            <main class="body">
                {{ .Content }}
                <ul class="list-group list-group-flush">
                    {{ range .Pages }}
                        <li class="list-group-item">
                            <a href="{{ .RelPermalink }}"><span>{{ .Date.Format "2006.01.02." }}</span> {{ .LinkTitle }}</a>
                        </li>
                    {{ end }}
                </ul>
            </main>
        </article>
    </div>
{{ end }}
